* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;;
}
img {
    max-width: 100%;
}
body {
    font-family: Lato;
}
.center {
    padding-right: calc(50% - 573px);
    padding-left: calc(50% - 573px);
}

.header {
    
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.left__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 41px;
}
.navigation {
    grid-column-start: 3;
    display: flex;
    gap: 33px;
    padding-top: 28px;
    padding-bottom: 18px;
    
    
}
ul {
    display: block;
    
}
.nav li {
    position: relative;
    list-style:none;
	float:left;
	text-align:center;
  }
  .nav li a{
    /* padding:15px 25px; */
	text-decoration:none;
	display:inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
	
  }
  .menu__style{
    color: rgb(111, 110, 110);
   
    margin-left: 53px;
    margin-top: 12px;
    

  }
  .title_menu {
    color: rgb(241, 109, 127);
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: 32px;
  }
  
  .nav li a:hover {
    color: rgb(241, 109, 127);;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background:#F1F1F1;
  }
  
  
  .sub-menu {
    display: none; 
    position: absolute;
    left: 0; /*Данное указание не обязательно*/
    background: rgb(255, 255, 255);
       

  }
  .sub-menu li {
    display:block;
	width:100%;
	margin:0px;
	text-align:left;
  }
  .nav li:hover > .sub-menu {
    display: block;
    width: max-content;
  }


.top {
    background: rgb(241, 228, 230);
    display: flex;
    gap: 64px;
    margin-bottom: 79px;
}

.text__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.title_top {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    color: #222;
    max-width: 405px;  
}
.color-pink {
    color: #f16d7f;
  }
  .black-weight {
    font-weight: 900;
    font-size: 48px;
  }
.categories {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 38px; }
   
.people {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px
}

.card {
    position: relative;
    width: 100%;
    text-align: center;
    
    
}
.card img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.accesories {
    max-width: 1140px;
}



.text-conteiner {
            position: absolute;
            color: rgb(255, 255, 255);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            /* background-color: rgba(41, 41, 41, 0.8); */
            padding: 0.5rem;
            text-align: center;
            font-size: 16px;
}
.title__card1 {
    position: relative;
    /* z-index: 2; */
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.title__card2 {
    position: relative;
    /* z-index: 2; */
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}
.content {
    margin-top: 79px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    flex-wrap: wrap;
}
.text-catalog {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.title__catalog {
    color: rgb(34, 34, 34);
    /* font-family: Lato; */
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.subtitle {
    color: rgb(159, 159, 159);

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}
.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background: rgb(248, 248, 248);
}
.describe {
    padding: 24px 16px ;
    background: rgb(248, 248, 248);
    max-width: 360px;
}
.product__image-wrapper {
    position: relative;
  }
  
  .product__image-wrapper:after {
    content: "";
    position: absolute;
    z-index: 5;
    inset: 0;
    background-color: rgba(58, 56, 56, 0.86);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
.product__add {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border: 1px solid #fff;
    padding: 14px 16px 13px 50px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    background-color: transparent;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 13px 11px;
    cursor: pointer;
  }
  .item:hover .product__image-wrapper:after {
    opacity: 1;
  }
  
  .item:hover .product__add {
    opacity: 1;
  }
.title__item {
    margin-top: 24px;
    margin-bottom: 16px;
    color: rgb(0, 0, 0);

    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
   
}
.text__item {
    color: rgb(93, 93, 93);

    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.price {
    color: rgb(241, 109, 127);

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
}

.buttons {
    
    border: none;
    outline: none;
    margin-top: 15px;
    margin-bottom: 60px;
    
}
.button__content {
    color: rgb(242, 99, 118);
    border: 1px solid rgb(255, 106, 106);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    background: rgb(255, 255, 255);
    padding: 15px 39px;
}
.button__content:hover{
    background-color: rgb(241, 109, 127);
    color: rgb(255, 255, 255);
}

.feature {
    background: rgb(34, 34, 36);
    padding: 104px;
    display: flex;
    gap: 30px;
    padding-right: calc(50% - 573px);
    padding-left: calc(50% - 573px);
   
}
.item__feature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-width: 360px;
    
}
.title__feature {
    color: rgb(251, 251, 251);
    
    font-size: 19.96px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 28px;
    margin-bottom: 16px;
}
.subtitle__feature {
    color: rgb(251, 251, 251);
    
    font-size: 13.97px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    
    
}
.subscribe {
    background-image: url(../img/subscribe_fon.png);
    
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(244, 244, 244, 0.7);
    min-height: 488px;
    padding-right: calc(50% - 573px);
    padding-left: calc(50% - 573px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 223px;

}
.item__subscribe1 {
    max-width: 360px;
    margin-top: 87px;
    margin-bottom: 126px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.item__subscribe {
    max-width: 557px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title__subscribe{
    
    color: rgb(34, 34, 36);

    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
    letter-spacing: 0%;
    text-align: center;
}
.subtitle__subscribe{
    margin-bottom: 32px;
    color: rgb(34, 34, 36);

    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
    letter-spacing: 0%;
    text-align: center;
}
.subscribe__quote {
    color: rgb(34, 34, 36);
    
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.subscribe__form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 356px;
    height: 49px;
    margin: 0 auto;
    border-radius: 25px;
}
.subscribe__input {
    padding: 6px 102px 6px 22px;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    border: none;
    font-size: 14px;
  }
  .subscribe__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100px;
    height: 100%;
    border: none;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #f16d7f;
    cursor: pointer;
  }
  .footer {
    padding: 24px;
    padding-right: calc(50% - 565px);
    padding-left: calc(50% - 565px);
    background: rgb(34, 34, 36);
    display: flex;
    align-items: center;
    gap: 650px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .brand {
    color: rgb(251, 251, 251);
    
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
   
  }
  .buttons__icons {
    
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
  .icon {
    width: 32px;
    height: 32px;
    text-decoration: none;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);;
  }
  
  .icon:hover {
    color:rgb(255, 255, 255);
    background-color: rgb(241, 109, 127);
  }
@media (max-width: 1024px){
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }
    .navigation {
        padding-top: 19px;
    }
    .title_top {
        font-size: 24px;
        font-weight: 700;
    }
    .top img {
        max-width: 370px;
    }
    .text__top {
        
       
        flex-wrap: nowrap;
    }
    .people {
        grid-template-columns: repeat(3, 232px);
        gap: 20px;
    }
    .accesories {
        max-width: 735px;
    }
    .content {
        margin-top: 109px;
    }
    .catalog {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }
    .text-catalog {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 8px;
        padding-right: 8px;

        /* padding-left: calc(50% - 144px);
        padding-right: calc(50% - 144px); */
    }
    .header {
        padding-left: 16px;
        padding-right: 16px;
    }
    .categories {
        padding-left: 8px;
        padding-right: 8px;
    }
   
    .top {
        margin-bottom: 64px;
        display: block;
        padding-left: calc(50% - 144px);
        padding-right: calc(50% - 144px);
    }
    .top_men{
        visibility: hidden;
        display: none;
    }
    .top img {
        max-height: 66px;
        max-width: 12px;
    }
    .nav1 {
        visibility: hidden;
        display: none;
    }
    .text__top {
        padding-top: 148px;
        padding-bottom: 148px;
    }
    .title_top {
        font-size: 20px;
        font-weight: 700;
        max-width: 236px;
    }
    .black-weight {
        font-weight: 900;
        font-size: 38px;
    }

    .people {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 32px;
    }
    .card {
        max-width: 343px;
    }
   
    .accesories {
        overflow: hidden;
        max-width: 343px;
        height: 111px;
    }
    .accesories img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 343px;
        height: 111px;
        object-fit: cover;
    }

    .content {
        margin-top: 64px;
    }
    .catalog {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .title__item {
        margin-top: 25px;
        margin-bottom: 12px;
    }
    
    .buttons {
        margin-top: 8px;
        margin-bottom: 85px;
    }
    .item {
        align-items: stretch;
        max-width: 359px;
    }
    /* .item img {
        max-width: 359px;
    } */
}