* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;;
}
img {
    max-width: 100%;
}
body {
    font-family: Lato;
}
.center {
    padding-right: calc(50% - 573px);
    padding-left: calc(50% - 573px);
}

.header {
    
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.left__menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 41px;
}
.navigation {
    grid-column-start: 3;
    display: flex;
    gap: 33px;
    padding-top: 28px;
    padding-bottom: 18px;
}
.top {
    background: rgb(241, 228, 230);
    display: flex;
    gap: 64px;
    margin-bottom: 79px;
}
.top-shop {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 290px;
    padding-bottom: 382px;
    align-items: center; */
}
.text__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.title_top {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    color: #222;
    max-width: 405px;  
}
.color-pink {
    color: #f16d7f;
  }
  .black-weight {
    font-weight: 900;
    font-size: 48px;
  }
.categories {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 38px; }
   
.people {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px
}

.card {
    position: relative;
    width: 100%;
    text-align: center;
    
    
}
.card img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.accesories {
    max-width: 1140px;
}

.text-conteiner {
            position: absolute;
            color: rgb(255, 255, 255);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            /* background-color: rgba(41, 41, 41, 0.8); */
            padding: 0.5rem;
            text-align: center;
            font-size: 16px;
}
.title__card1 {
    position: relative;
    /* z-index: 2; */
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.title__card2 {
    position: relative;
    /* z-index: 2; */
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}
.content {
    margin-top: 79px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    flex-wrap: wrap;
}
.text-catalog {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.title__catalog {
    color: rgb(34, 34, 34);
    /* font-family: Lato; */
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.subtitle {
    color: rgb(159, 159, 159);

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}
.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background: rgb(248, 248, 248);
}
.describe {
    padding: 24px 16px ;
    background: rgb(248, 248, 248);
    max-width: 360px;
}
.title__item {
    margin-top: 24px;
    margin-bottom: 16px;
    color: rgb(0, 0, 0);

    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
   
}
.text__item {
    color: rgb(93, 93, 93);

    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.price {
    color: rgb(241, 109, 127);

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
}

.buttons {
    
    border: none;
    outline: none;
    margin-top: 15px;
    margin-bottom: 60px;
    
}
.button__content {
    color: rgb(242, 99, 118);
    border: 1px solid rgb(255, 106, 106);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    background: rgb(255, 255, 255);
    padding: 15px 39px;
}

@media (max-width: 1024px){
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }
    .navigation {
        padding-top: 19px;
    }
    .title_top {
        font-size: 24px;
        font-weight: 700;
    }
    .top img {
        max-width: 370px;
    }
    .text__top {
        
       
        flex-wrap: nowrap;
    }
    .people {
        grid-template-columns: repeat(3, 232px);
        gap: 20px;
    }
    .accesories {
        max-width: 735px;
    }
    .content {
        margin-top: 109px;
    }
    .catalog {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }
    .text-catalog {
        margin-bottom: 40px;
    }
}