* {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
body {
   
    background: rgb(2, 10, 24);
    font-family: Open Sans;

}
a {
    text-decoration: none;
}
.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}
.top {
padding-bottom: 99px;

}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px
     
}
.header_link {
    color: rgb(255, 255, 255);
    
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.top_content {

    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 128px;

}
.top_info {
    width: 604px;
}
.subtitle {

    margin-bottom: 10px;
    color: rgb(58, 104, 184);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;

}
.title {
   
    /* margin-bottom: 40 px; */
    color: rgb(255, 255, 255);

    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    
    text-align: left;

} 
.text {
    margin-top: 40px;
    width: 558px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.top_buttons {

   
   margin-top: 50px;
    display: flex;
    gap: 20px;
}
.button{
    border-radius: 5px;
    background: rgb(58, 104, 184);
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    outline: none;
    border: none;
    display: flex;
    gap: 10px;
   
}
.top_logo {
    padding-bottom: 99px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    align-items: center;
  
}
.blog {
    padding-top: 264px;
    padding-bottom: 243px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
}
.blog_content {
    background: rgb(19, 32, 53);
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
    
}
.blog_title {
    color: rgb(255, 255, 255);

    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
}
.blog_text {
    color: rgb(255, 255, 255);
    
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
}
.blog_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}
.content_2 {
    margin-bottom: 221px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px
    
}
.content_text {
    max-width: 548px;
}
.title__content_text {
    padding-top: 14px;
    padding-bottom: 40px;
    color: rgb(255, 255, 255);
    
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.subtext {
    max-width: 460px;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}
.last {
    padding-bottom: 14px;
}



@media (max-width: 1024px){
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }
    .subtitle {
          
        font-size: 16px;
       
    }
        .title {
        
        font-size: 48px;
        
        }
        .top_logo{
            gap: 32px;
            max-width: 650px;
            margin: auto;
            padding-bottom: 120px;
        }
        .blog{
            grid-template-columns: repeat(1, 362px);
            gap: 32px;
        }
        .blog_big {
            grid-column: span 1;
            grid-row: span 1;
            gap: 30px;
        }
        .blog_big img {
            width: 98px;
        }
        .content_2 {
            text-align: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 64px;
        }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        flex-wrap: wrap;
        gap: 16px;
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .header_link {
    
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        
    }
    .top {
        padding-bottom: 0;
    }
    .top_content {

        margin-top: 64px;
        margin-bottom: 128px
    }
    .subtitle {
        text-align: center;
        margin-bottom: 16px;
    }
    .title {
        text-align: center;
        font-size: 28px;
    }
    .top_info {
        width: 100%;
        text-align: center;
    }
    .text {
       
        width: 100%; 
        text-align: center;
        margin-top: 64px;
    }
    .top_buttons {
        
        display: flex;
        gap: 24px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 39px;
    }
    .top_logo {

        padding-bottom: 116px;
    }
    .blog {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .top__logo {
        margin-right: auto;
        margin-left: 24px;
    }

    .title__content_text {
        font-size: 24px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
    .subtext {
        font-size: 16px;
        font-weight: 600;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: center;
        padding-bottom: 16px;
            opacity: 0.7;
    }
    .last {
        padding-bottom: 0;
    }
    .content_2 {
        gap: 32px;
        margin-bottom: 96px;
    }
}