.link_style {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}
.head_style {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

